        /** Resets */
        
        html {
          box-sizing: border-box;
        }
        
        *,
        *:before,
        *:after {
          box-sizing: inherit;
        }
        
        html,
        body,
        div,
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        code,
        form,
        fieldset,
        legend,
        button,
        input,
        textarea,
        p,
        blockquote,
        thead,
        tbody,
        th,
        td {
          margin: 0;
          padding: 0;
          color: black;
          text-decoration: none;
        }
        
        textarea {
          resize: vertical;
        }
        
        p {
          margin: 0 0 10px;
        }
        
        .container {
          background-color: white;
        }
        
        p,
        input {
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        /** //Resets */
        /** Globals */
        
        body {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 300;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          -o-hyphens: auto;
          hyphens: auto;
          background-color: #EEEBEB;
        }
        /** //Globals */
        
        .carousel .carousel-control {
          z-index: 10;
        }
        
        .carousel span.icon-chevron-sign-right.icon-2x.icon:before {
          content: "\f105";
          font-family: FontAwesome;
        }
        
        .carousel span.icon-chevron-sign-left.icon-2x.icon:before {
          content: "\f104";
          font-family: FontAwesome;
        }
        
        .carousel .carousel-control span {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          font-size: 2em;
          line-height: 1;
          margin-top: -1em;
          opacity: 1 !important;
        }
        
        .carousel-header.load-animation-element,
        .carousel-description.load-animation-element {
          position: relative;
          top: -500px;
          transition: top 1s ease-in-out;
          -moz-transition: top 1s ease-in-out;
          -webkit-transition: top 1s ease-in-out;
        }
        
        .carousel-header.on-load,
        .carousel-description.on-load {
          top: 0;
        }
        
        .carousel .share.load-animation-element,
        .carousel .carousel-link.load-animation-element {
          position: relative;
          opacity: 0;
          transition: opacity 1s ease-in-out;
          -moz-transition: opacity 1s ease-in-out;
          -webkit-transition: opacity 1s ease-in-out;
        }
        
        .carousel .share.on-load,
        .carousel .carousel-link.on-load {
          opacity: 1;
        }
        
        @media (min-width: 470px) {
          /* ANIMATIONS END */
          /* ShortCutPanel*/
          .iconSide {
            margin-bottom: 10px;
          }
          #sidebar h3,
          #sidebar p {
            padding: 0 10px;
          }
          #sidebar {
            margin: right;
            position: fixed;
            width: 50px;
            height: 500px;
            bottom: 10px;
            right: 15px;
            top: 25%;
          }
          #sidebar ol,
          li,
          a {
            list-style-type: none;
          }
          /*END ShortCutPanel*/
          /* HEADER PANEL */
          .header-panel {
            width: 100%;
            background: #F7F7F7;
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #000000;
            z-index: 900;
          }
          .header-panel h1,
          .header-panel h2,
          .header-panel h3,
          .header-panel h4,
          .header-panel h5,
          .header-panel h6 {
            font-family: Oswald;
            color: #000000;
          }
          .header-panel a {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #000000;
            text-decoration: none;
          }
          .header-panel a:active,
          .header-panel a:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #000000;
            text-decoration: none;
          }
          .header-panel .navbar-toggle {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #FFFFFF;
            background: #444;
          }
          .header-panel .navbar-toggle:active,
          .header-panel .navbar-toggle:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #FFFFFF;
            background: #444;
          }
          .header-panel .wrapper {
            background: #F7F7F7;
          }
          /* HEADER PANEL END */
          /* CTA1 PANEL */
          /*-----------------------------------------*/
          .css-slideshow {
            /*   padding-top: 90px;
          padding-left: 200px;
         */
            float: left;
            position: relative;
            width: 100%;
            /*margin: 5em auto .5em auto;*/
          }
          .css-slideshow figure {
            margin: 0;
            position: absolute;
          }
          /*  .css-slideshow figcaption {
          position: absolute;
          top: 0;
          color: gray;
          background: rgba(0, 0, 0, .0);
          font-size: .9em;
          padding: 8px 12px;
          opacity: 9;
          transition: opacity 2s;
        }*/
          .css-slideshow figure figcaption {
            transition: opacity 4s;
            opacity: 1;
            padding-top: 100px;
          }
          .css-slideshow figure {
            opacity: 0;
          }
          .css-slideshow figure img {
            padding-top: 100px;
            width: 250px;
            height: 360px;
            margin-left: 60px;
          }
          figure:nth-child(5) {
            animation: xfade 30s 0s infinite;
          }
          figure:nth-child(4) {
            animation: xfade 30s 6s infinite;
          }
          figure:nth-child(3) {
            animation: xfade 30s 12s infinite;
          }
          figure:nth-child(2) {
            animation: xfade 30s 18s infinite;
          }
          figure:nth-child(1) {
            animation: xfade 30s 24s infinite;
          }
          /*-----slut-------------------------------*/
          /* CTA1 PANEL START */
          .cta1-panel {
            float: left;
            position: relative;
            height: 459px;
            margin-top: 5%;
            width: 30%;
            background-color: white;
            height: 500px;
          }
          /* CTA1 PANEL END */
          /* CONTENT PANEL */
          #content-text {
            margin-top: 1%;
            float: left;
            width: 100%;
          }
          #content-icon {
            margin-bottom: 20px;
            margin-right: 150px;
            float: right;
            background-image: url("pics/content-icon.png");
            background-repeat: no-repeat;
            background-size: 150px;
            height: 150px;
            width: 150px;
          }
          #content-text p {
            margin-top: 5%;
            margin-left: 250px;
            width: 450px;
            font-style: italic;
          }
          #content-text h1 {
            margin-left: 250px;
            margin-top: 2%;
            width: 400px;
            height: 20px;
            font-family: 'Pinyon Script', cursive;
            font-size: 3em;
          }
          .content-panel {
            margin-top: 5%;
            float: left;
            width: 70%;
            background: white;
            height: 500px;
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #000000;
          }
          .content-panel h1,
          .content-panel h2,
          .content-panel h3,
          .content-panel h4,
          .content-panel h5,
          .content-panel h6 {
            font-family: Oswald;
            color: #000000;
          }
          .content-panel a {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #000000;
          }
          .content-panel a:active,
          .content-panel a:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #000000;
          }
          .content-panel .btn {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #FFFFFF;
            background: #444;
          }
          .content-panel .btn:active,
          .content-panel .btn:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            ;
            color: #FFFFFF;
            background: #444;
          }
          /* END CONTENT PANEL */
          #side-pics-1 {
            background-size: 100% 585px;
          }
          /* START Business Panel*/
          .business-areas-panel {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            float: left;
            background-color: #F7F7F7;
            width: 100%;
            height: 885px;
            background-size: 50% 100%;
            border-top: medium solid;
            border-color: silver;
          }
          .business-areas-panel h1 {
            margin-top: 0.5em;
            width: 100%;
            height: 110px;
            color: black;
            font-size: 4em;
            font-family: 'Pinyon Script', cursive;
          }
          span.text-content {
            background: rgba(0, 0, 0, 0.5);
            color: white;
            cursor: pointer;
            display: table;
            height: 61vh;
            left: 0;
            position: relative;
            top: 0;
            width: 100%;
            opacity: 0;
            -webkit-transition: opacity 500ms;
            -moz-transition: opacity 500ms;
            -o-transition: opacity 500ms;
            transition: opacity 1ms;
            font-size: 1.5em;
          }
          .business-areas-panel span.text-content:hover {
            opacity: 1;
          }
          /* END Business Panel*/
          /* CTA2 PANEL START */
          #pics-cta2 {
            margin-left: auto;
            margin-right: auto;
            background-image: url("pics/Rapsolja_omslag.jpg");
            background-size: 100% 585px;
            background-repeat: no-repeat;
            width: 50%;
            height: 585px;
            position: relative;
          }
          /* CTA2 PANEL END */
          /* START NEWS Panel*/
          .carousel-inner>.item>a>img,
          .carousel-inner>.item>img,
          .img-responsive,
          .thumbnail a>img,
          .thumbnail>img {
            display: block;
            max-width: 100%;
            height: 350px;
          }
          .img-responsive {
            width: 350px;
            height: 350px;
          }
          #testbild {
            background-image: url("pics/Grupp-Smaksatta-oljor.jpg");
            background-repeat: no-repeat;
            background-size: 100% 350px;
          }
          .news-panel {
            background-color: white;
            float: left;
            width: 100%;
            margin-top: 30px;
          }
          .news-panel h1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: black;
            width: 100%;
            float: left;
          }
          .megafon-image {
            margin-top: 60px;
            background-image: url("pics/butik-megafon.png");
            background-repeat: no-repeat;
            background-size: 100% 100vh;
            width: 100%;
            height: 100vh;
          }
          /*   .newProduct{
          background-image:url("pics/Grupp-Kallpressad-EKO.jpg");
          background-repeat: no-repeat;
          background-size: 400px 200px;
          width: 404px;
          height: 200px;
        }
        
       */
          .rubrik-megafon {
            height: 20px;
            position: relative;
            font-family: 'Pinyon Script', cursive;
          }
          .megafon-box {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 40px;
          }
          #megafon-icon {
            background-image: url("pics/megaphone2.png");
            background-repeat: no-repeat;
            background-size: 40px 40px;
            width: 40px;
            height: 30px;
          }
          .multiple-borders {
            margin-left: auto;
            margin-right: auto;
            width: 800px;
            height: 600px;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px #fff, 0px 0px 0px 18px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
            -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px #fff, 0px 0px 0px 18px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
            box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px #fff, 0px 0px 0px 18px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
          }
          /* END NEWS Panel*/
          /* START Social Panel*/
          .social-media-panel {
            float: left;
            background-color: silver;
            height: 150px;
          }
          .fa-facebook-official {
            width: 150px;
            height: 50px;
          }
          .facebook-icon-media a {
            width: 150px;
            height: 50px;
            background-image: url("pics/FacebookIcon.jpg");
            background-repeat: no-repeat;
            background-size: 150px;
          }
          .twitter-icon-media a {
            width: 150px;
            height: 50px;
            background-image: url("pics/Twitter-icon.jpg");
            background-repeat: no-repeat;
            background-size: 150px;
          }
          .instagram-icon-media a {
            width: 150px;
            height: 50px;
            background-image: url("pics/instagram-icon.jpg");
            background-repeat: no-repeat;
            background-size: 150px;
          }
          /* END Social Panel*/
          /* START ABOUTUS Panel*/
          #about-intro h2 {
            color: gray;
            font-size: 20px;
            font-family: 'Signika', sans-serif;
            padding-bottom: 50px;
          }
          #text-about {
            color: black;
            font-size: 18px;
            font-style: italic;
          }
          #head-about h2 {
            font-family: 'Pinyon Script';
            font-size: 3em;
            color:black;
          }
          .about-us-panel {
            float: left;
            margin-top: 190px;
            width: 100%;
            background-color: white;
            margin-bottom: 60px;
            border-top: 2px solid;
            border-color: silver;
          }
          #about-us {
            width: 100%;
            float: left;
          }
          #about-us #team {
            margin-bottom: 0;
            text-align: center;
            line-height: normal;
            float: left;
            margin-top: 30px;
          }
          #about-us #team ul {
            margin: 0;
            padding: 0;
            list-style: none;
            float: left;
          }
          #about-us #team ul li {
            margin-bottom: 40px;
            padding: 0;
            overflow: hidden;
            float: left;
          }
          #about-us #team ul li.one_quarter {
            width: 223px;
            height: 348px;
            border: 1px solid #CCCCCC;
            margin-left: 20px;
            background-color: #E5FFCC;
            box-shadow: 10px 10px 5px #888888;
          }
          #about-us #team ul li.one_half {
            width: 470px;
            height: 350px;
            text-align: left;
          }
          #about-us #team li.one_half img {
            margin-bottom: 15px;
          }
          #about-us #team li.one_half h2 {
            margin: 0 0 5px 0;
          }
          #about-us #team ul li figure1 {
            padding: 4px;
          }
          #about-us #team ul li figure1 img {
            margin-top: 5px;
          }
          #about-us #team ul li figure1 figcaption {}
          #about-us #team ul li figure1 figcaption p {
            margin: 20px 0 0 0;
            padding: 0;
          }
          #about-us #team ul li figure1 figcaption .team_name {
            font-size: 18px;
          }
          #about-us #team ul li figure1 figcaption .team_title {}
          #about-us #team ul ul {
            margin-top: 15px;
            padding: 8px 0;
            background-color: #EFEFEF;
          }
          #about-us #team ul ul li {
            display: inline;
            margin: 0 0 0 3px;
            padding: 0;
            height: auto;
            border: none;
          }
          #about-us #team ul ul li:first-child {
            margin-left: 0;
          }
          #about-us #team ul ul li a {}
          #about-us #team ul ul li a img {
            margin: 0;
          }
          #about-us #team ul li #skillset {
            line-height: normal;
            text-align: left;
          }
          #about-us #team ul li #skillset ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
          }
          #about-us #team ul li #skillset ul li {
            display: block;
            margin: 10px 0 0 0;
            padding: 3px;
            color: #333333;
            background-color: #E2E2E2;
          }
          #about-us #team ul li #skillset ul li:first-child {
            margin-top: 0;
          }
          #about-us #team ul li #skillset ul li strong {
            display: block;
            padding: 5px 8px;
            color: #FFFFFF;
            background-color: #333333;
            font-weight: normal;
          }
          #about-us #team ul li #skillset ul li.size_20 strong {
            width: 16.5%;
          }
          #about-us #team ul li #skillset ul li.size_25 strong {
            width: 21.5%;
          }
          #about-us #team ul li #skillset ul li.size_30 strong {
            width: 26.5%;
          }
          #about-us #team ul li #skillset ul li.size_35 strong {
            width: 31.5%;
          }
          #about-us #team ul li #skillset ul li.size_40 strong {
            width: 36.5%;
          }
          #about-us #team ul li #skillset ul li.size_45 strong {
            width: 41.5%;
          }
          #about-us #team ul li #skillset ul li.size_50 strong {
            width: 46.5%;
          }
          #about-us #team ul li #skillset ul li.size_55 strong {
            width: 51.5%;
          }
          #about-us #team ul li #skillset ul li.size_60 strong {
            width: 56.5%;
          }
          #about-us #team ul li #skillset ul li.size_65 strong {
            width: 61.5%;
          }
          #about-us #team ul li #skillset ul li.size_70 strong {
            width: 66.5%;
          }
          #about-us #team ul li #skillset ul li.size_75 strong {
            width: 71.5%;
          }
          #about-us #team ul li #skillset ul li.size_80 strong {
            width: 76.5%;
          }
          #about-us #team ul li #skillset ul li.size_85 strong {
            width: 81.5%;
          }
          #about-us #team ul li #skillset ul li.size_90 strong {
            width: 86.5%;
          }
          #about-us #team ul li #skillset ul li.size_95 strong {
            width: 91.5%;
          }
          #about-us #team ul li #skillset ul li.size_100 strong {
            width: 96.5%;
          }
          /* CSS3 Elements Only Work In Latest Browsers */
          #about-us #skillset li,
          #about-us #skillset strong {
            /* Rounded Corners */
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            -khtml-border-radius: 8px;
            border-radius: 8px;
          }
          /* END About us Panel*/
          /* FOOTER PANEL */
          .footer-panel {
            float: left;
            width: 80%;
            margin-bottom: 0 auto;
            position: relative;
            bottom: 0;
            height: 150px;
            background: #333;
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #BFBFBF;
          }
          .location-container {
            float: left;
            width: 100%;
          }
          #ContactUsPanel {
            padding-top: 20px;
            padding-left: 5em;
          }
          .footer-panel h1,
          .footer-panel h2,
          .footer-panel h3,
          .footer-panel h4,
          .footer-panel h5,
          .footer-panel h6,
          #EmailAddressesContainer {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            font-size: 1em;
            color: white;
          }
          .footer-panel a {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #BFBFBF;
          }
          .footer-panel a:active,
          .footer-panel a:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #BFBFBF;
          }
          .footer-panel .btn {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #FFFFFF;
            background: #444;
          }
          .footer-panel .btn:active,
          .footer-panel .btn:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #FFFFFF;
            background: #444;
          }
          /* END FOOTER PANEL */
          /* POWERED BY PANEL */
          .powered-by-panel {
            width: 100%;
            background: white;
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #9C9C9C;
            border-radius: 2px;
            height: 35px;
          }
          .powered-by-panel h1,
          .powered-by-panel h2,
          .powered-by-panel h3,
          .powered-by-panel h4,
          .powered-by-panel h5,
          .powered-by-panel h6 {
            font-family: Oswald;
            color: #9C9C9C;
          }
          .powered-by-panel a {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #9C9C9C;
            text-decoration: none;
            overflow: auto;
            display: block;
            float: right;
          }
          .powered-by-panel a:active,
          .powered-by-panel a:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #9C9C9C;
            text-decoration: none;
          }
          .powered-by-panel .btn {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #FFFFFF;
            background: #444;
          }
          .powered-by-panel .btn:active,
          .powered-by-panel .btn:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #FFFFFF;
            background: #444;
          }
          .powered-by-panel .wrapper {
            margin: auto;
            max-width: 1080px;
          }
          .powered-by-panel img {
            width: 32px;
            margin-top: 8px;
            float: right;
          }
          .powered-by-panel p {
            float: right;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;
            margin-top: 15px;
          }
          /* POWERED BY PANEL END */
          /* Experts / Medarbetare */
          .co-workers-control {
            text-align: center;
          }
          .co-worker-image-wrapper img {
            width: 100%;
          }
          /* END Experts / Medarbetare */
          /* POWERED BY PANEL */
          .powered-by-panel h1,
          .powered-by-panel h2,
          .powered-by-panel h3,
          .powered-by-panel h4,
          .powered-by-panel h5,
          .powered-by-panel h6 {
            font-family: Oswald;
            color: #9C9C9C;
          }
          .powered-by-panel a {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #9C9C9C;
            display: inline-block;
            white-space: nowrap;
          }
          .powered-by-panel a:active,
          .powered-by-panel a:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #9C9C9C;
          }
          .powered-by-panel .btn {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #FFFFFF;
            background: #444;
          }
          .powered-by-panel .btn:active,
          .powered-by-panel .btn:hover {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            color: #FFFFFF;
            background: #444;
          }
          .powered-by__logo {
            width: 32px;
            vertical-align: middle;
          }
             #mobile-screen {
            
           display: none;
          }
            #normal-screen {
           
            font-family: 'Pinyon Script', cursive;
          }
        
          .powered-by__text {
            display: inline-block;
            vertical-align: middle;
          }
          /* POWERED BY PANEL END */
          /* Support for a full-screen carousel. */
          .carousel--fullheight .carousel-image-wrapper {
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .carousel-indicators li,
          .carousel-indicators li.active {
            width: 16px;
            height: 16px;
            margin: 1px;
          }
          /* ICONS */
          /* ICONS END */
          @keyframes xfade {
            17% {
              opacity: 1;
            }
            25% {
              opacity: 0;
            }
            92% {
              opacity: 0;
            }
          }
        }
        
        @media(max-width: 460px) {
          .content-panel {
            border-bottom: solid 2px;
            border-bottom-color: silver;
          }
          .cta1-panel {
            display: none;
          }
          .container {
            max-width: 300px;
          }
          #content-text h1 {
            font-family: 'Pinyon Script', cursive;
          }
          #normal-screen {
            display: none;
            font-family: 'Pinyon Script', cursive;
          }
          #mobile-screen {
            
            font-family: 'Pinyon Script', cursive;
          }
          #sidebar {
            display: none;
          }
          #header-panel {}
          .css-slideshow {
            visibility: hidden;
          }
          .content-background {}
          .business-areas-panel {
            max-height: 80px;
          }
          #CTAPanel2 p {
            display: non;
          }
          #pics-cta2 {
            display: none;
            background-image: url("ChampagneMapp/pics/frontPics2.jpg");
            background-size: 50px 50px;
            max-width: 180px;
            max-height: 180px;
          }
          #text-about {
            
            max-width: 280px;
            margin-bottom: 10px;
            border-bottom: solid 2px;
            border-color: black;
          }
          #NewsPanel {}
          #AboutUsPanel { }
          #head-about h2 {
            font-family: 'Pinyon Script', cursive;
                     
          }
          .clear li{
           list-style-type: none; 
          }
          .col-md-3 {
            border:solid 2px;
            border-color:black;
            
          }
          .one_quarter img {
            width: 90px;
            height: 90px;
            text-decoration: none;
          }
          .col-md-12{
           margin-top: 20px; 
           background-color:#E0E0E0;
          }
          .one_quarter{
           background-color: white; 
          }
          .one_quarter {
            list-style-type: none;
          }
          .footer-panel {
            border-top: solid 4px;
            border-color: black;
            background-color: silver;
            border-bottom: solid 4px;
          }
          .SocialMediaPanel {}
          .twitter-icon-media {
            float: left;
          }
          .facebook-icon-media {
            float: left;
          }
          .contact-us-header {
            font-size: 1.5em;
          }
          .social-media-panel {
            background-color: silver;
          }
          #ContactUsControl h3 {
            font-size: 1.0em;
          }
          .wrapper img {
            width: 30px;
            height: 30px;
            margin-bottom: 2px;
          }
          .wrapper p {
            display: none;
          }
        }